.control-container {
    background-color: #e0e0e0;
}

.d3-chart {
  width: 90%;
  height: 75%;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}

.tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  min-height: auto;
  background: none repeat scroll 0 0 #000000;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}