<form [formGroup]="intervalForm" (ngSubmit)="onSubmit(intervalForm)">
  <md-card class="control-container">
    <md-card-title>Factor Manipulation</md-card-title>
    <md-card-content>
      
      <!-- Begin Control Cards-->
      <div class="row">
        <!-- Usage Card-->
        <div class="col-md-4">
          <md-card>
            <md-card-title>Peak Load</md-card-title>
            <md-card-content>

              <div class="col-md-6 range-slider">
                <label>Min</label>
                <md-slider min="0" max="299" step="10" formControlName="usageMin" tickInterval="auto" thumbLabel></md-slider>
              </div>
              
              <div class="col-md-6 range-slider">
                <label>Max</label>
                <md-slider min="1" max="300" step="10" formControlName="usageMax" tickInterval="auto" thumbLabel></md-slider>
              </div>
              
              <hr>
          
              <div class="col-md-12">
                <md-slider min="{{intervalForm.value.usageMin}}" max="{{intervalForm.value.usageMax}}" step="1" formControlName="usage1" tickInterval="auto" thumbLabel></md-slider>
              </div>
              <!--<div class="col-md-12">
                <md-slider min="{{intervalForm.value.usageMin}}" max="{{intervalForm.value.usageMax}}" step="1" formControlName="usage2" tickInterval="auto" thumbLabel></md-slider>
              </div>
              <div class="col-md-12">
                <md-slider min="{{intervalForm.value.usageMin}}" max="{{intervalForm.value.usageMax}}" step="1" formControlName="usage3" tickInterval="auto" thumbLabel></md-slider>
              </div>
              <div class="col-md-12">
                <md-slider min="{{intervalForm.value.usageMin}}" max="{{intervalForm.value.usageMax}}" step="1" formControlName="usage4" tickInterval="auto" thumbLabel></md-slider>
              </div>
              <div class="col-md-12">
                <md-slider min="{{intervalForm.value.usageMin}}" max="{{intervalForm.value.usageMax}}" step="1" formControlName="usage5" tickInterval="auto" thumbLabel></md-slider>
              </div>
            -->
            </md-card-content>
          </md-card>
        </div>

        <!-- Weather Correction Factor-->
        <div class="col-md-4">
          <md-card>
            <md-card-title>Summer Load SF</md-card-title>
            <md-card-content>
            <div class="col-md-12">
              <md-slider min="0" max="2.0" step=".01" formControlName="wcf1" tickInterval="auto" thumbLabel></md-slider>
            </div>
            <!--<div class="col-md-12">
              <md-slider min=".5" max="1.5" step=".01" formControlName="wcf2" tickInterval="auto" thumbLabel></md-slider>
            </div>
            <div class="col-md-12">
              <md-slider min=".5" max="1.5" step=".01" formControlName="wcf3" tickInterval="auto" thumbLabel></md-slider>
            </div>
            <div class="col-md-12">
              <md-slider min=".5" max="1.5" step=".01" formControlName="wcf4" tickInterval="auto" thumbLabel></md-slider>
            </div>
            <div class="col-md-12">
              <md-slider min=".5" max="1.5" step=".01" formControlName="wcf5" tickInterval="auto" thumbLabel></md-slider>
            </div>-->
            </md-card-content>
          </md-card>
        </div>
        
        <!-- RCLF and Scenario-->
        <div class="col-md-4">
          <div class="row">

            <div class="col-md-12">
              <md-card>
                <md-card-title>Rate Class Loss</md-card-title>
                <md-card-content>
                <div class="col-md-12">
                  <md-slider min=".5" max="1.5" step=".01" formControlName="rclf" tickInterval="auto" thumbLabel></md-slider>
                </div>
                </md-card-content>
              </md-card>
            </div>
            
            <div class="col-md-12">
              <md-card>
                <md-card-title>PLC Scaling Factor</md-card-title>
                <md-card-content>
                <div class="col-md-12">
                  <md-slider min=".5" max="1.5" step=".01" formControlName="psf" tickInterval="auto" thumbLabel></md-slider>
                </div>
                </md-card-content>
              </md-card>
            </div>

            <div class="col-md-12">
              <md-card>
                <md-card-title>Scenario</md-card-title>
                <md-card-content>
                <div class="col-md-12">
                  <md-input-container>
                    <input mdInput placeholder="Scenario" formControlName="scenario">
                  </md-input-container>
                </div>
                </md-card-content>
              </md-card>
            </div>
          
          </div>
        </div>
      </div>
      <!-- Show ICap Calulation -->
      <div class="row">
        <div class="col-md-12">
          <md-card>
            <md-card-title>Current Factors</md-card-title>
            <md-card-content>
              <table class="responsive-table">
                <tr>
                  <th>Peak Load</th>
                  <th>Summer Load SF</th>
                  <th>Rate Class Loss</th>
                  <th>PSF</th>
                </tr>
                <tr>
                  <td>{{intervalForm.value.usage1 | number: '1.3-3'}}</td>
                  <td>{{intervalForm.value.wcf1 | number: '1.3-3'}}</td>
                  <td>{{intervalForm.value.rclf | number: '1.3-3'}}</td>
                  <td>{{intervalForm.value.psf | number: '1.3-3'}}</td>
                </tr>
                <!--<tr>
                  <td>{{intervalForm.value.usage2}}</td>{{intervalForm.value.wcf2 | number: '1.3-3'}}
                  <td></td>
                </tr>
                <tr>
                  <td>{{intervalForm.value.usage3}}</td>{{intervalForm.value.wcf3 | number: '1.3-3'}}
                  <td></td>
                </tr>
                <tr>
                  <td>{{intervalForm.value.usage4}}</td>{{intervalForm.value.wcf4 | number: '1.3-3'}}
                  <td></td>
                </tr>
                <tr>
                  <td>{{intervalForm.value.usage5}}</td>{{intervalForm.value.wcf5 | number: '1.3-3'}}
                  <td></td>
                </tr>-->
              </table>
            </md-card-content>
            
          </md-card>
        </div>
      </div>
    
      
      <!--</div>-->
  </md-card-content>
  <md-card-actions>
      <button md-mini-fab type="submit">+</button>
    </md-card-actions>
  </md-card>
</form>

<!-- Barchart -->
<div class="row" *ngIf="icap.length > 0">
  <div class="col-md-12">
    <md-card>
      <md-card-title>ICap Values</md-card-title>
      <md-card-content>
        <app-barchart [data]="icap"></app-barchart>
      </md-card-content>
    </md-card>
  </div>
</div>